<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormularioIMC</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script src="js/jquery-1.4.1.min.js" type="text/javascript"></script>
	<script src="js/jquery.jcarousel.pack.js" type="text/javascript"></script>
	<script src="js/jquery-func.js" type="text/javascript"></script>
</head>
<body>
    <h1>Indice de masa corporal (IMC)</h1>

    <form th:action="@{/formularioIMC}" method="POST">
        <fieldset>
            <legend><h2>Introduce los siguientes datos:</h2></legend>
    
            <p>Peso (kg) <input type="text" name="peso" value="75"> </p>
            
            <p>Estatura (cm) <input type="text" name="estaturacm" value="150"> </p>
            
            <p> Sexo: <br>
        	<input type="radio" name="sex" value="h"> Varón <br>
        	<input type="radio" name="sex" value="m"> Mujer  <br>
        </p>
        </fieldset>
        <fieldset>
            <legend>Enviar formulario</legend>
            <p>¿Estás seguro de que los datos son correctos?</p>
            <input type="submit" value="Enviar">
        </fieldset>
    </form>
    
</body>
</html>